<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SmallRss</title>
        <meta name="viewport" content="width=device-width" />
        <script type="text/javascript">
            var urls = {
                feedstatus_api: '@Url.Action("feedstatus", "api")',
                article_api: '@Url.Action("article", "api")',
                feed_api: '@Url.Action("feed", "api")',
                userlayout_api: '@Url.Action("userlayout", "api")'
            };
        </script>
        @Styles.Render("~/resource/css/allcss")
        @Scripts.Render("~/resource/js/alljs")
    </head>
    <body>
        <header>
            <a href="@Url.Action("", "")">SmallRss</a>
            @if (User != null && User.Identity.IsAuthenticated) {
            <a href="@Url.Action("", "manage")">Manage feeds</a>
            }
        </header>
        <section id="mainPanel">
            @RenderBody()
        </section>

        @RenderSection("scripts", required: false)
    </body>
</html>
