@model SmallRss.Web.Areas.Mobile.Models.Home.IndexViewModel
<section name="GroupsSection"></section>
<section name="SelectedFeedSection"></section>
<section name="SelectedArticleSection"></section>
@section HeaderScripts {
<script type="text/javascript">
    var smallrss_config = {
        feedstatus_api: '/api/feedstatus', // '@Url.Action("feedstatus", "api")',
        article_api: '/api/article', // '@Url.Action("article", "api")',
        feed_api: '/api/feed', // '@Url.Action("feed", "api")'
        pocket_api: '/api/pocket', // '@Url.Action("pocket", "api")'
        imageroot: '/mob/',
        showingAllArticles: @(Model.ShowAllArticles.ToString().ToLower()),
        connectedToPocket: @(Model.ConnectedToPocket.ToString().ToLower()),
    };
    $(function () {
        loadLocalSettings();
        $.getJSON(smallrss_config.feed_api, initialiseFeeds);
    });
</script>
}
