@model SmallRss.Web.Areas.Mobile.Models.User.ArticleViewModel
<div class="filterButtons">
    <div data-url="@Url.Action("feed")/@Model.FeedId">@Model.FeedName</div>
</div>
<ul class="articles">
    <li>
        <div data-url="@Model.Url" class="articlesHeader">@Html.Raw(Model.Title)</div>
        <div>@Html.Raw(Model.Body)</div>
    </li>
</ul>
<input type="button" value="Back" data-url="@Url.Action("feed")/@Model.FeedId"/>
<input type="button" value="Keep Unread" class="keepUnread" data-id="@Model.ArticleId" data-url="@Url.Action("feed")/@Model.FeedId"/>
@section Scripts {
<script type="text/javascript">
    $(function () {
        initArticle();
    });
</script>
}
