@model SmallRss.Web.Areas.Mobile.Models.User.FeedViewModel
<div class="filterButtons">
    <div>@Model.GroupName (@Model.Articles.Count())</div>
    @if (Model.ShowingAll) {
    <input class="showUnread" type="button" value="Show Unread"/>
    } else {
    <input class="showAll" type="button" value="Show All"/>
    }
    @if (Model.Articles.Any()) {
    <input class="markAllRead" data-id="@Model.FeedId" type="button" value="Mark All Read"/>
    }
</div>
<ul class="articles">
    @foreach (var article in Model.Articles)
    {
    <li data-url="@Url.Action("article", "user")/@article.Id" class="@(article.Read ? "" : "unread")">
        <div>@article.Posted</div>
        <div class="articlesHeader">@Html.Raw(article.Title)</div>
        <div>@article.Summary</div>
    </li>
    }
</ul>
@section Scripts {
<script type="text/javascript">
    $(function () {
        initFeedItems();
    });
</script>
}
