<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="@Url.Content("~/mob/image/smallrss.png")" type="image/png" sizes="32x32" />
        <link rel="apple-touch-icon" href="@Url.Content("~/mob/image/smallrss.png")" sizes="32x32" />
        <title>SmallRss</title>
        @Styles.Render("~/mob/css/allcss")
        @Scripts.Render("~/mob/js/alljs")
        @RenderSection("HeaderScripts", required: false)
    </head>
    <body>
        <header>
            <a href="@Url.Action("", "")"><img src="@Url.Content("~/mob/image/smallrss.png")" width="28" height="28" alt="SmallRss" /><h1>SmallRss</h1></a>
            <span class="actions">
            @if (User != null && User.Identity.IsAuthenticated) {
                <text>
                <a href="@Url.Content("~/manage")">Manage Feeds</a> |
                <a href="@Url.Content("~/home/logout")">Logout</a>
                </text>
            } else {
                <a href="@Url.Content("~/home/login")">Login</a>
            }
            </span>
        </header>

        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
