<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="@Url.Content("~/mob/image/favicon.ico")" type="image/x-icon" />
        <title>SmallRss</title>
        <script type="text/javascript">
            var urls = {
                feedstatus_api: '/api/feedstatus', // '@Url.Action("feedstatus", "api")',
                article_api: '/api/article', // '@Url.Action("article", "api")',
                feed_api: '/api/feed', // '@Url.Action("feed", "api")'
                pocket_api: '/api/pocket', // '@Url.Action("pocket", "api")'
            };
        </script>
        @RenderSection("HeaderScripts", required: false)

        @Styles.Render("~/mob/css/allcss")
        @Scripts.Render("~/mob/js/alljs")
    </head>
    <body>
        <header>
            <a href="@Url.Action("", "")"><img src="@Url.Content("~/mob/image/smallrss.png")" width="28" height="28" alt="SmallRss" /><h1>SmallRss</h1></a>
            <span class="actions">
            @if (User != null && User.Identity.IsAuthenticated) {
                <text>
                <a href="@Url.Content("~/manage")">Manage Feeds</a> |
                <a href="@Url.Content("~/home/logout")">Logout</a>
                </text>
            } else {
                <a href="@Url.Content("~/home/login")">Login</a>
            }
            </span>
        </header>

        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
